body {
  font-family: 'Noto Sans', sans-serif;
}

footer {
  font-size: 0.9em;
  font-family: 'Noto Sans', sans-serif;
  padding: 20px;
  text-align: right;
}


h1 {
  color: #454545;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 1px #909090;
}

h4 {
  color: #454545;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 1px #909090;
}

form {
  font-family: 'Yantramanav', sans-serif;
  padding: 5px;
}

table {
  text-align: center;
}


/*table, th, td {
  border: 1px dashed #909090;
  padding: 5px;
  text-align: center;
}*/

input {
  font-family: 'Yantramanav', sans-serif;
}

.container {
  border: 1px solid #909090;
  border-radius: 5px;
  max-width: 768px;
}

.navbar-brand {
  font-family: 'Prosto One', sans-serif;
  font-size: 1.3em;
}

.navbar li {
  font-family: 'Noto Sans', sans-serif;
}

.reg-form {
  padding: 15px 65px;
}

.alert {
  max-width: 550px;
}

.hide {
  display: none;
}

.btn .btn-success {
  display: inline;
  text-align: center;
}
